* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}

.cover {
    width: 210mm;
    height: 300mm;
    background: url('cover.png');
    page-break-after: always;
}

.aut,
.org,
.add,
.dt,
.units {
    margin-right: 10mm;
    text-align: right;
    color: rgb(29, 24, 126);
    font-size: 25px;
}


/*
.org {
    top: 168mm;
}

.add {
    top: 176mm;
} */

.dt {
    /* top: 184mm; */
    width: 80mm;
    margin-left: 120mm;
    border-bottom: solid 0.75mm rgb(255, 134, 0);
    padding-bottom: 10mm;
}

.units {
    width: 80mm;
    margin: 10mm 10mm 0 160mm;
    color: rgb(255, 134, 0);
    font-size: 20px;
    text-align: left;
}

.text {
    font-size: 18px;
    color: black;
    text-align: justify;
    margin: 5mm 20mm 5mm 20mm;
}

.graph {
    width: 95%;
    margin-left: 2.5%;
}

table,
td,
th {
    border: solid 0.05mm gray;
    border-collapse: collapse;
}

td {
    background: rgb(237, 241, 250);
}

th {
    background: rgb(247, 230, 230);
}

table {
    width: 100%;
}

.dataFrame {
    text-align: center;
    margin-bottom: 10mm;
    margin-top: 10mm;
    margin: 0 20mm 0 20mm;
}

.caption {
    page-break-before: avoid;
    font-style: italic;
    font-size: 18px;
    color: gray;
    margin: 2mm 20mm 5mm 20mm;
}

hr {
    width: 170mm;
    border: 0.25mm solid rgb(255, 134, 0);
    border-left: none;
    border-right: none;
    border-top: none;
    /* background: rgb(255, 134, 0); */
    border-radius: 0.15mm;
    margin: 0mm 20mm 15mm 20mm;
    page-break-before: avoid;
}

.title {
    text-align: left;
    width: 170mm;
    height: 11.25mm;
    border-bottom: solid 0.75mm rgb(29, 24, 126);
    color: rgb(29, 24, 126);
    font-size: 30px;
    display: flex;
    margin: 20mm 20mm 0 20mm;
    page-break-before: always;
}

.sectionNo {
    text-align: center;
    width: 12mm;
    font-size: 30px;
    height: 12mm;
    color: white;
    background: rgb(29, 24, 126);
    margin-right: 2mm;
}

.pb {
    page-break-before: avoid;
    font-size: 50px;
    color: rgb(29, 24, 126);
    margin-bottom: 100mm;
}

body {
    background: rgb(235, 235, 235);
}

.container {
    width: 210mm;
    margin-left: calc(50% - 105mm);
    height: auto;
    background: white;
}

.aut {
    margin-top: 0mm;
    padding-top: 160mm;
}

@media screen {
    .container {
        box-shadow: 0.5mm 0.5mm 0.5mm 0.5mm rgb(187, 187, 187);
    }
}

@media print {
    .pb {
        margin-bottom: 0;
    }
    body {
        background: white;
    }
    container {
        padding: 20mm 0 20mm 0;
    }
    .title {
        margin-top: 0;
    }
    @page {
        size: A4;
        margin-top: 20mm;
        margin-bottom: 20mm;
        margin-left: 0mm;
        margin-right: 0mm;
        @bottom-center {
            content: counter(page);
            background: rgb(29, 24, 126);
            color: white;
            width: 300mm;
            height: 8mm;
            margin-top: 12mm;
        }
        @top-center {
            content: '';
            width: 80%;
            height: 12mm;
            background: url('other.png');
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 3mm;
        }
    }
    @page :first {
        margin: 0mm;
        @top-center {
            content: none;
        }
        @bottom-center {
            content: none;
        }
        counter-increment: page 0;
    }
}