**/__pycache__
/test.
/test.png
/.vscode
/.sampleFiles
/sampleFiles
/.virtualenv
/.venv
/venv
/virtualenv
**/.vscode
/build
src/sdPy/sdPysrc
/.vscode/settings.json
app2dstandalone.txt
src/simulation/video
src/simulation/movie.mp4
src/default.*
src/*.html
src/structure3d
